/* =========================================================================
  #LAYOUT:GALLERY
============================================================================*/

.gallery {
  @include container;
  @include flex(flex, center, center);
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  
  @include breakpoint(425px) {
    flex-direction: column;
  }
}