/* =========================================================================
  #LAYOUT:HEADER
============================================================================*/

.header {
  @include container;
  display: flex;
  justify-content: space-between;

  @include breakpoint(425px) {
    padding: 1.1rem;
  }

  @include breakpoint(959px) {
    flex-direction: column;
  }
}

