/* =========================================================================
  #COMPONENTS:HEADER
============================================================================*/

.header__brand {
  color: map-get($colors , "main-color" );
  font-size: Rem(35);
  text-decoration: none;
}

