/* =========================================================================
  #COMPONENTS:MENU
============================================================================*/


.menu {
  @include flex(flex, center, center);
  height: 100%;
}

.menu__item {
  margin: 0 Rem(16);
  text-transform: uppercase;
}

.menu__link--active {
  color: map-get($colors , "button-color" );
}