/* =========================================================================
  #COMPONENTS:SOCIAL-MEDIA
============================================================================*/

.social-media__menu {
  @include flex(flex, center, center);
  height: 100%;
  
  @include breakpoint(460px) {
    display: none;
  }

  @include breakpoint(959px) {
    padding-top: 2rem;
  }
}


.social-media__media {
  margin: 0 Rem(16);

  a {
    
    &:hover {
      color: map-get($colors , "main-color");
    }
  }
}